/*【全体】*/
body{
  font-size: 14pt;
}

/*【tab】*/
.tab-content {
    padding-top: 0;
}

/*リスト*/
ul.cp_list {
	padding: 0.5em;
	list-style: none;
  padding-top: 0;
}
ul.cp_list li.cp_list_li {
	position: relative;
	padding: 0.5em 1em 0.5em 1.7em;
	margin-bottom:5px;
	border-bottom: 1px solid rgba(255,143,0,1);
}
ul.cp_list li.cp_list_li:after,
ul.cp_list li.cp_list_li:before {
	content:'';
	position: absolute;
	transform: rotate(45deg);
}
ul.cp_list li.cp_list_li:before {
	top: 0.7em;
	left: 0.2em;
	width: 12px;
	height: 12px;
	border:2px solid rgba(255,143,0,1);
}
ul.cp_list li.cp_list_li:after {
	top: 0.9em;
	left: 0.7em;
	width: 14px;
	height: 14px;
	background: rgba(255,143,0,0.5);
	transform: rotate(60deg);
}
.cp_list_li_child {
  margin-left: 2px;
}

/*アコーディオンメニュー*/
.cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	color: #ffffff;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {
	font-weight: bold;
	line-height: 2.5;
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	cursor: pointer;
	margin: 0 0 1px 0;
	background: #0066FF;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #333333;
	background: #ffdbb8;

  width: 99%;
  margin: 0 auto;
}
.cp_actab .cp_actab-content p {
	margin: 1em;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 60em;
  width: 99%;
  margin: 0 auto;
}
/* Icon */
.cp_actab label::after {
	line-height: 2.5;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=checkbox] + label::after {
	content: '+';
}
.cp_actab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}

/*タイトル*/
.iventName_add, .iventName_button{
  font-size: 20pt;
  margin-left: 25px;
}
.iventName_update, .iventName_delete{
  font-size: 15pt;
}

/*テーブルボタン*/
.return_button_update_div{
  right: 336px;
  top: -174px;
}
.return_button_delete_div{
  right: 362px;
  top: -174px;
}
button.return_button_update, button.return_button_delete {
  left: 504px;
  top: 165px;
}
button.return_button_delete{
  left: 552px;
}


/*テーブル*/
table {
  width: 137%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
table th{
  background-color: #0000BB;
  color: white;
}
table td {
  text-align: left;
  color: #666;
}

/*【delete】*/
.delete-table th{
  border-color: #444444;
}

/*【add】*/
[class^="add-table"] tr th{
  border-left: #666666;
}
[class^="add-table"] tr td{
  border-color: white;
  border-right: #666666;
  width: 269px;
  text-align: left;
}
[class^="add-table"],[class^="delete-table"]{
  width: 102%;
}
.div_add-table_problem, .div_add-table_habit, .div_delete-table_problem, .div_delete-table_habit{
  float: left;
}
.div_add-table_problem, .div_delete-table_problem{
  margin-right: 27px;
}

.add-table_done{
    display: flex;
    height: 60px;
    margin-bottom: 67px;
}

/*【delete】*/
[class^="delete-table"] td{
  background: #fff;
  border-color: #555555;
  width: 254px;
}
[class^="delete-table"]{
  color: #444444;
}


/*【inputタグ幅】*/
#id_number{
    width: 48px;
}
#id_probgenre1, #id_probgenre2{
    font-size: 12pt;
}
#id_problem, #id_proburl, #id_probmemo, #id_habit, #id_habitmemo{
    width: 266px;
    height: 83px;
    font-size: 12pt;
    margin-bottom: -7px;
}
#id_habitflag, #id_motivation, #id_frequency, #id_division, #id_habitgenre1{
    font-size: 12pt;
    font-family: arial unicode ms;
}


/*【check】*/
.checkbox{
    margin-left: -149px;
}
/*【やりたいことリスト】*/
.stoprow, .dayrow, .weekrow, .monthrow{
    color: #666;
}
.stoprow{
    background-color: #DCC2FF;
}
.dayrow{
    background-color: #FFFFCC;
}
.weekrow{
    background-color: #FFDBC9;
}
.monthrow{
    background-color: #B1F9D0;
}

[id^="motivation_display_"], [id^="review_display_"]{
    width: 43px;
}
[id^="delete_display_"], [id^="edit_display_"] {
    width: 5%;
}
[id^="probgenre1_display_"]{
    width: 77px;
}
[id^="probgenre2_display_"]{
    width: 105px;
}
[id^="problem_display_"], [id^="habit_display_"], [id^="probmemo_display_"]{
    width: 329px;
}
[id^="frequency_display_"], [id^="division_display_"]{
    width: 5%;
}
#division_display_1, #number_display_1{
    width: 50px;
}
#habitgenre1_display_1{
    width: 92px;
}
#habitmemo_display_1{
    width: 370px;
}
.delete, .done, .motivation, .review, .habitgenre1, .edit, .frequency, .division, .number, .probgenre1, .probgenre2{
    text-align: center;
}
.completiondate{
    width: 136px;
    text-align: right;
}
.habit{
    width: 360px;
}
.edit-table_undone {
    margin-bottom: 20px;
}
.edit-table_solution td{
    background-color: #CCFFFF;
}

.th_habitflag{
    font-size: 12pt;
}

/*【必須項目】*/
.th_habitgenre1, .th_habit, .th_motivation{
    position: relative;
}
.must_habitgenre1, .must_habit, .must_motivation{
    background: #FF1A00;
    font-size: 13px;
    position: absolute;
    border-radius: 3px;
}
.must_habitgenre1{
    left: 87px;
    bottom: 4px;
}
.must_habit {
    left: 90px;
    bottom: 35px;
}
.must_motivation{
    left: 88px;
    bottom: 4px;
}

/*------------------------------------------*
* body系CSS
*------------------------------------------*/
@media screen and (max-width: 480px){
    /*【上】*/
    body{
        font-size: 12pt;
        font-family: monospace;
        padding-top: 31px;
    }
    .body_wrap{
        width: 116%;
        margin-left: 0;
    }
    .iventName_add, .iventName_button {
        font-size: 14pt;
    }
    /*【タブ】*/
    .tab-checked, .tab {
        display: block;
        padding: 0px 9px;
        font-size: 15px;
        margin: 3px;
        width: 143px;
        text-align: left;
        height: 24px;
    }
}

/*------------------------------------------*
* table系CSS
*------------------------------------------*/
@media screen and (max-width: 480px){
    /*【ボタン】*/
    .return_button_update_div {
        right: 508px;
        top: -174px;
    }
    /*【テーブル】*/
    body, table th, table td, [id^="id_"]{
        font-family: monospace;
    }
    table th{
        width: 96px;
        font-size: 10pt;
    }
    table td{
        font-size: 10pt;
    }
    .add-table_done td, .add-table td {
        width: 167px;
    }
    .tr_input, .tr_input_delete {
        font-size: 10pt;
        font-family: monospace;
    }
    .delete_edit_check, .memo_check{
        font-size: 15px;
    }
}


/*------------------------------------------*
* habitCSS
*------------------------------------------*/
@media screen and (max-width: 480px){
    /*【全体】*/
    .body {
        width: 86%;
        font-size: 10pt;
    }
    /*【上】*/
    ul.cp_list {
        padding: 0;
        width: 100%;
        font-family: monospace;
    }
    /*【アコーディオンメニュー】*/
    .cp_actab input:checked ~ .cp_actab-content {
        max-height: 45em;
    }
    /*【タブ】*/
    .tab-content {
        padding-top: 0;
        padding: 0;
    }
    /*【ボタン】*/
    .return_button_update_div {
        right: 514px;
        top: -172px;
    }
    .return_button_delete_div {
        right: 548px;
        top: -173px;
    }
    button.return_button_update{
        height: 28px;
        font-size: 13px;
        padding: 5px 7px;
    }
    button.return_button_delete{
        height: 30px;
        font-size: 14px;
        padding: 5px 9px;
    }
    /*【テーブル】*/
    table {
        width: 101%;
    }

    .div_add-table_problem, .div_delete-table_problem {
        margin-right: 0px;
    }
    .add-table {
        width: 101%;
        font-family: monospace;
    }
    .add-table_done {
        margin-bottom: 42px;
    }
    .edit-table_undone {
        margin-bottom: 20px;
    }

    .fa-child:before {
        font-size: 19px;
    }

    [class^="add-table"] tr td {
        width: 194px;
    }
    .th_habitflag {
        font-size: 10pt;
    }
    #id_motivation {
        width: 48px;
    }
    #id_motivation, #id_frequency, #id_division, #id_number, #id_habitflag, #id_habitgenre1, #id_probgenre1, #id_probgenre2{
        font-size: 10pt;
        font-family: monospace;
        width: 100px;
    }
    #id_problem, #id_proburl, #id_probmemo, #id_habit, #id_habitmemo{
        width: 191px;
        font-size: 10pt;
        height: 45px;
        margin-bottom: -3px;
    }

    [id^="motivation_display_"], [id^="review_display_"]{
        width: 32px;
    }
    [id^="probgenre1_display_"]{
        width: 11%;
    }
    [id^="probgenre2_display_"]{
        width: 17%;
    }
    [id^="problem_display_"], #habit_display_1{
        width: 27%;
    }
    .probgenre2{
        font-size: 9pt;
    }

    /*【必須項目】*/
    .must_habitgenre1, .must_habit, .must_motivation{
        left: 68px;
        bottom: 5px;
        font-size: 11px;
    }
    .must_habit {
        bottom: 18px;
    }
    .checkbox {
        margin-left: 0px;
    }
}
