{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>progress</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/progress/progress_common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/progress/progress_table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/progress/habit.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        $( function() {
            // 日付は、年-月-日 の形式でお願いする。
            let dateFormat = 'yy-mm-dd';
            $('#id_completiondate').datepicker({
            dateFormat: dateFormat
            });
        } );
    </script>
</head>
<body>
<script>
    window.onload = function(){
        //もしスマホなら最初は非表示
        if(navigator.userAgent.match(/(iPhone|iPod|Android.*Mobile)/i)){
            hidden();
        }else{
            AllChecked();
        }
        //自動補完をoff
        $('form').attr('autocomplete', 'off');
        //項目「やめたい」をcheckedに
        document.getElementById("tab-one").checked = true;
        //ハンバーガーメニュー
        (function($) {
            var $body   = $('body');
            var $btn   = $('.toggle_btn');
            var $mask  = $('#mask');
            var open   = 'open'; // class
            // menu open close
            $btn.on( 'click', function() {
              if ( ! $body.hasClass( open ) ) {
                $body.addClass( open );
              } else {
                $body.removeClass( open );
              }
            });
            // mask close
            $mask.on('click', function() {
              $body.removeClass( open );
            });
          } )(jQuery);
    }
    function AllChecked(){
        document.querySelectorAll('.checkbox input').forEach(function(input){
            input.checked = true;
        });
    }
    //最初に隠しておくため
    //1_やりたいことリスト
    //2_やったことリスト
    //3_勉強
    //4_習慣
    //5_本
    function hidden(){
        var array = ["delete","edit","division","genre1","memo","completiondate"];
            for(var k=1;k<6;k++){
                for(var j=0;j<array.length;j++){
                    var id = array[j] + "_display_" + k;
                    var obj = array[j] + "_check_" + k;
                    var CELL = document.getElementById(id);
                    if(CELL === null) {

                    }else{
                        try{
                            var TABLE = CELL.parentNode.parentNode.parentNode;
                            for(var i=0;TABLE.rows[i];i++) {
                                TABLE.rows[i].cells[CELL.cellIndex].style.display = (document.getElementById(obj).checked) ? '' : 'none';
                            }
                        }catch{

                        }
                    }
                }
            }
    }
    //checkboxのcheckがついたら表示
    function checkbox_cell( obj,id ){
        var CELL = document.getElementById(id);
        var TABLE = CELL.parentNode.parentNode.parentNode;
        for(var i=0;TABLE.rows[i];i++) {
            TABLE.rows[i].cells[CELL.cellIndex].style.display = (obj.checked) ? '' : 'none';
        }
    }
</script>
<div class="body">
    <div class="body_wrap">
        <!-- navi ------------------------------------------------------------------------------------------------------>
        <div class="tabnav">
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_summary' %}'">概要</button>
            <button class="tab-checked" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_habit' %}'">①習慣</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_relief' %}'">②ストレス発散法</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_earn' %}'">③稼ぐ力</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_relate' %}'">④人を大切に</button>
        </div>
        <!-- ２、ストレス発散法 ---------------------------------------------------------------------------------------------------->
        <div class="tab-content">

          <!-- 毎日 ------------------------------------------------------------------------------------------------->
          <!-- テーブル(idは非表示にするときに呼び出される) -->
          <div class="edit-table_tbody_undone_study">
              <ul class="cp_list">
                  <div class="cp_actab">
                  <input id="tab-one" type="checkbox" name="tabs">
                  <label for="tab-one">やめたい</label>
                  <div class="cp_actab-content">
                      <div class="cp_list_li_child">
                          <li class="cp_list_li">意思</li>
                              {% for habit in data_habit %}
                                  <ul>
                                      {% if habit.frequency == 0 and '意思' in habit.genre1 %}
                                          <li >{{habit.habit}}</li>
                                      {% endif %}
                                  </ul>
                              {% endfor %}
                          </li>
                          <li class="cp_list_li">喧嘩</li>
                              {% for habit in data_habit %}
                                  <ul>
                                      {% if habit.frequency == 0 and '喧嘩' in habit.genre1 %}
                                          <li >{{habit.habit}}</li>
                                      {% endif %}
                                  </ul>
                              {% endfor %}
                          </li>
                          <li class="cp_list_li">行動</li>
                              {% for habit in data_habit %}
                                  <ul>
                                      {% if habit.frequency == 0 and '行動' in habit.genre1 %}
                                          <li >{{habit.habit}}</li>
                                      {% endif %}
                                  </ul>
                              {% endfor %}
                          </li>
                          <li class="cp_list_li">他</li>
                              {% for habit in data_habit %}
                                  <ul>
                                      {% if habit.frequency == 0 and not '意思' in habit.genre1 and not '喧嘩' in habit.genre1 and not '行動' in habit.genre1 %}
                                          <li >{{habit.habit}}</li>
                                      {% endif %}
                                  </ul>
                              {% endfor %}
                          </li>
                      </div>
                  </div>

                  <div class="cp_actab">
                  <input id="tab-two" type="checkbox" name="tabs">
                  <label for="tab-two">毎日</label>
                  <div class="cp_actab-content">
                    <div class="cp_list_li_child">
                        <li class="cp_list_li">意思</li>
                            {% for habit in data_habit %}
                                <ul>
                                    {% if habit.frequency == 1 and '意思' in habit.genre1 %}
                                        <li >{{habit.habit}}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </li>
                        <li class="cp_list_li">喧嘩</li>
                            {% for habit in data_habit %}
                                <ul>
                                    {% if habit.frequency == 1 and '喧嘩' in habit.genre1 %}
                                        <li >{{habit.habit}}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </li>
                        <li class="cp_list_li">行動</li>
                            {% for habit in data_habit %}
                                <ul>
                                    {% if habit.frequency == 1 and '行動' in habit.genre1 %}
                                        <li >{{habit.habit}}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </li>
                        <li class="cp_list_li">向上</li>
                            {% for habit in data_habit %}
                                <ul>
                                    {% if habit.frequency == 1 and '向上' in habit.genre1 %}
                                        <li >{{habit.habit}}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </li>
                        <li class="cp_list_li">他</li>
                            {% for habit in data_habit %}
                                <ul>
                                    {% if habit.frequency == 1 and not '意思' in habit.genre1 and not '喧嘩' in habit.genre1 and not '行動' in habit.genre1 and not '向上' in habit.genre1　%}
                                        <li >{{habit.habit}}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </li>
                    </div>
                  </div>

                  <div class="cp_actab">
                  <input id="tab-three" type="checkbox" name="tabs">
                  <label for="tab-three">毎週</label>
                  <div class="cp_actab-content">
                      {% for habit in data_habit %}
                          <ul>
                              {% if habit.frequency == 2 %}
                                  <li >{{habit.habit}}</li>
                              {% endif %}
                          </ul>
                      {% endfor %}
                  </div>

                  <div class="cp_actab">
                  <input id="tab-four" type="checkbox" name="tabs">
                  <label for="tab-four">毎月</label>
                  <div class="cp_actab-content">
                      {% for habit in data_habit %}
                          <ul>
                              {% if habit.frequency == 3 %}
                                  <li >{{habit.habit}}</li>
                              {% endif %}
                          </ul>
                      {% endfor %}
                  </div>

              </ul>
          </div>

          <!-- リスト ------------------------------------------------------------------------------------------------->
          <!-- 初期状態で列非表示 -->
          <div class="checkbox">
              <div class="delete_edit_check">
                  編集する？
                  <input type="checkbox" id="delete_check_1" onclick="checkbox_cell(this,'delete_display_1')">delete
                  <input type="checkbox" id="edit_check_1" onclick="checkbox_cell(this,'edit_display_1')">edit
              </div>
              <div class="memo_check">
                  他項目:
                  <input type="checkbox" id="division_check_1" onclick="checkbox_cell(this,'division_display_1')">区分
                  <input type="checkbox" id="genre1_check_1" onclick="checkbox_cell(this,'genre1_display_1')">分野
                  <input type="checkbox" id="memo_check_1" onclick="checkbox_cell(this,'memo_display_1')">memo
              </div>
          </div>
          <!-- テーブル(idは非表示にするときに呼び出される) -->
          <div class="edit-table_undone" align="center">
              <table>
                  <thead class="edit-table_thead_undone">
                      <tr>
                          <th id="delete_display_1">削除</th>
                          <th id="edit_display_1">編集</th>
                          <th id="motivation_display_1"><i class="fas fa-child"></th>
                          <th id="frequency_display_1">頻度</th>
                          <th id="division_display_1">区分</th>
                          <th id="genre1_display_1">分野</th>
                          <th id="habit_display_1">やりたいこと</th>
                          <th id="memo_display_1">メモ</th>
                      </tr>
                  </thead>
                  <tbody class="edit-table_tbody_undone">
                  {% for habit in data_habit %}
                      <tr class=
                                {% if habit.frequency == 0 %}"stoprow"
                                {% elif habit.frequency == 1 %}"dayrow"
                                {% elif habit.frequency == 2 %}"weekrow"
                                {% elif habit.frequency == 3 %}"monthrow"
                                {% endif %}>
                          <td class="delete"><a href={% url 'progress_habit_delete' habit.id%}><i class="far fa-trash-alt"></i></a></td>
                          <td class="edit"><a href={% url 'progress_habit_edit' habit.id %}><i class="far fa-edit"></i></a></td>
                          <td class="motivation">
                                                {% if habit.motivation is None %}
                                                    -
                                                {% else %}
                                                    {{habit.motivation}}
                                                {% endif %}
                          </td>
                          <td class="frequency">
                                                {% if habit.frequency == 0 %}
                                                    やめたい
                                                {% elif habit.frequency == 1 %}
                                                    毎日
                                                {% elif habit.frequency == 2 %}
                                                    毎週
                                                {% elif habit.frequency == 3 %}
                                                    毎月
                                                {% endif %}
                          </td>
                          <td class="division">
                                                {% if habit.division == '' %}
                                                    　
                                                {% else %}
                                                    {{habit.division}}
                                                {% endif %}
                          </td>
                          <td class="genre1">{{habit.genre1}}</td>
                          <td class="habit">{{habit.habit}}</td>
                          <td class="memo">
                                            {% if habit.memo is None %}

                                            {% else %}
                                                {{habit.memo}}
                                            {% endif %}
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
           </div>

            <div class="formtable">
                <!-- 追加・更新画面 -->
                {% if delete_flag == 0 %}
                    {% if id == 0 %}
                        <div class="iventName_add">追加したい習慣</div>
                        <form action="{% url 'progress_habit' %}" method="post">
                    {% elif id > 0 %}
                        <div class="return_button_update_div"><a href={% url 'progress_habit' %}><button class="return_button_update" type="button"><i class="fas fa-arrow-circle-left"></i> 追加画面へ戻る</button></a></div>
                        <div class="iventName_button"><i class="fab fa-github"></i>更新</div>
                        <form action="{% url 'progress_habit_edit' id %}" method="post">
                    {% endif %}
                            <!-- 追加・更新欄 -->
                            <table class="add-table">
                                <tr>
                                    <th><i class="fas fa-child"></i></th>
                                    <td>{{form_motivation.motivation}}</td>
                                </tr>
                                <tr>
                                    <th>頻度</th>
                                    <td>{{form_frequency.frequency}}</td>
                                </tr>
                                <tr>
                                    <th>区分</th>
                                    <td>{{form_division.division}}</td>
                                </tr>
                                <tr>
                                    <th>回数</th>
                                    <td>{{form.number}}</td>
                                </tr>
                                <tr>
                                    <th class="th_genre1">分野<span class="must_genre1">必須</span></th>
                                    <td>{{form_genre1.genre1}}</td>
                                </tr>
                                <tr>
                                    <th class="th_habit">やりたいこと<span class="must_habit">必須</span></th>
                                    <td>{{form.habit}}</td>
                                </tr>
                                <tr>
                                    <th>メモ</th>
                                    <td>{{form.memo}}</td>
                                </tr>
                            </table>
                            <div class="tr_input_div">
                                <input class="tr_input" type="submit" value={% if id == 0 %}"追加！"{% else %}"更新！"{% endif %}>
                            </div>
                                {% csrf_token %}
                        </form>

                <!-- 削除画面(データ表示) -->
                {% elif delete_flag == 1 %}
                    <div class="return_button_delete_div"><a href={% url 'progress_habit' %}><button class="return_button_delete" type="button"><i class="fas fa-arrow-circle-left"></i> 消さない</button></a></div>
                    <div class="iventName_button"><i class="fab fa-github"></i>消す？？</div>
                    <form action={% url 'progress_habit_delete' id%} method="post">

                    <!-- 完了確認欄 -->
                    <table class="delete-table">
                        <tr>
                            <th>完了</th>
                            <td>
                                {% if obj.done1 %}
                                    完了
                                {% else %}
                                    未完了
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>評価</th>
                            <td>
                                {% if obj.review is None %}
                                    -
                                {% else %}
                                    {{obj.review}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>完了日</th>
                            <td>
                                {% if obj.completiondate is None %}
                                    -
                                {% else %}
                                    {{obj.completiondate|date:"Y/n/j"}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fas fa-child"></i></th>
                            <td>
                                {% if obj.motivation is None %}
                                    -
                                {% else %}
                                    {{obj.motivation}}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>頻度</th>
                            <td>
                                  {% if obj.frequency == 0 %}
                                      やめたい
                                  {% elif obj.frequency == 1 %}
                                      毎日
                                  {% elif obj.frequency == 2 %}
                                      毎週
                                  {% elif obj.frequency == 3 %}
                                      毎月
                                  {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>区分</th>
                            <td>{{obj.division}}</td>
                        </tr>
                        <tr>
                            <th>回数</th>
                            <td>
                                  {% if obj.number is None %}
                                      -
                                  {% else %}
                                      {{obj.number}}
                                  {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>分野</th>
                            <td>{{obj.genre1}}</td>
                        </tr>
                        <tr>
                            <th>やりたいこと</th>
                            <td>{{obj.habit}}</td>
                        </tr>
                        <tr>
                            <th>メモ</th>
                            <td>
                                {% if obj.memo == '' %}
                                    -
                                {% else %}
                                    {{obj.memo}}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <div class="tr_input_delete_div">
                        <input class="tr_input_delete" type="submit" value="削除">
                    </div>
                        {% csrf_token %}
                    </form>
                {% endif %}
            </div>

            <!-- ハンバーガーメニュー ---------------------------------------------------------------------------------------------------------------->
            <div id="navArea">
              <nav>
                <div class="inner">
                  <div class="page">ページ</div>
                  <ul>
                    <li><a href={% url 'wannado' %}>やりたいことリスト</a></li>
                    <li><a href={% url 'progress_summary' %}>成長</a></li>
                  </ul>
                </div>
              </nav>
              <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div id="mask"></div>
            </div>

        </div>
    </div>
</div>
</body>
