{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>progress</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/progress/progress_common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/progress/progress_table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forpis/css/progress/wannado.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" />
    <script type="text/javascript" src="{% static 'forpis/js/common.js' %}" /></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<script>
    window.onload = function(){
        //自動補完をoff
        autoCompletion();
        //ハンバーガーメニュー
        hamburger();
        //カレンダー機能
        calendar();
        //もしスマホなら最初は非表示
        if(navigator.userAgent.match(/(iPhone|iPod|Android.*Mobile)/i)){
            hidden();
        }else{
            AllChecked();
        }
        //項目「やめたい」をcheckedに
        document.getElementById("tab-five").checked = true;
    }
    function calendar(){
        // 日付は、年-月-日 の形式でお願いする。
        var array = ["#id_completiondate","#id_plandate"];
            for(var j=0;j<array.length;j++){
                let dateFormat = 'yy-mm-dd';
                $(array[j]).datepicker({
                    dateFormat: dateFormat
                });
            }
    }
    //最初に隠しておくため
    //1_やりたいことリスト
    //2_やったことリスト
    //3_勉強
    //4_習慣
    //5_本
    function hidden(){
        var array = ["delete","edit","motivation","genre2","tag1"];
            for(var k=1;k<6;k++){
                for(var j=0;j<array.length;j++){
                    var id = array[j] + "_display_" + k;
                    var obj = array[j] + "_check_" + k;
                    var CELL = document.getElementById(id);
                    if(CELL === null) {

                    }else{
                        try{
                            var TABLE = CELL.parentNode.parentNode.parentNode;
                            for(var i=0;TABLE.rows[i];i++) {
                                TABLE.rows[i].cells[CELL.cellIndex].style.display = (document.getElementById(obj).checked) ? '' : 'none';
                            }
                        }catch{

                        }
                    }
                }
            }
    }
</script>
<div class="body">
    <div class="body_wrap">
        <!-- navi ------------------------------------------------------------------------------------------------------>
        <div class="tabnav">
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_summary' %}'">概要</button>
            <button class="tab-checked" id="TAB-01_button" type="button" onclick="location.href='{% url 'wannado' %}'">⑴やりたいこと</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_earn' %}'">⑴稼ぐ力</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_habit' %}'">⑵習慣/悩み</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_relief' %}'">⑵癒し</button>
            <button class="tab" id="TAB-01_button" type="button" onclick="location.href='{% url 'progress_relate' %}'">⑶感謝</button>
        </div>
        <!-- 目標 ---------------------------------------------------------------------------------------------------->
        <div class="tab-content">
            <div class="thismonthgoal">
                <div class="thismonthgoal-title">今月({{thismonth}}月)の目標：</div>
                <p>
                  {% for plan in data_done %}
                  {% if plan.genre2 == '今月目標' and plan.plandate|date:"n" == thismonth%}
                       {{plan.plan | linebreaksbr}}
                  {% endif %}
                  {% endfor %}
                </p>
            </div>
            <div class="tablist">
                <div class="cp_actab">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">３年(2020~2023年)</label>
                  <div class="cp_actab-content">
                    <div class="list">
                        <li class="genre_li">生きる!ための勉強</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 6 and plan.done is False %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.deadline == 6 and plan.done is False %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">趣味</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 6 and plan.done is False %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.deadline == 6 and plan.done is False %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                    </div>
                  </div>
                </div>

<div class="arrow">↓</div>

                <div class="cp_actab">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">今年({{thismonth}}~12月の{{restmonth}}ヶ月)</label>
                  <div class="cp_actab-content">
                    <div class="list">
                        <li class="genre_li">生きる!ための勉強</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and plan.genre2 == '目標' and plan.done is False %}
                              {% if plan.deadline == 3 or plan.deadline == 4 or plan.deadline == 5 %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.done is False %}
                              {% if plan.deadline == 3 or plan.deadline == 4 or plan.deadline == 5 %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">読みたい本</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '本' in plan.genre1 and plan.genre2 == '目標' and plan.done is False %}
                              {% if plan.deadline == 3 or plan.deadline == 4 or plan.deadline == 5 %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '本' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.done is False %}
                              {% if plan.deadline == 3 or plan.deadline == 4 or plan.deadline == 5 %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">趣味</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and plan.genre2 == '目標' and plan.done is False %}
                              {% if plan.deadline == 3 or plan.deadline == 4 or plan.deadline == 5 %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.done is False %}
                              {% if plan.deadline == 3 or plan.deadline == 4 or plan.deadline == 5 %}
                                <ul>
                                  <li>{{plan.plan | linebreaksbr}}</li>
                                </ul>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                    </div>
                  </div>
                </div>

<div class="arrow">↓</div>

                <div class="cp_actab">
                <input id="tab-three" type="checkbox" name="tabs">
                <label for="tab-three">３月(7~9月)</label>
                  <div class="cp_actab-content">
                    <div class="list">
                        <li class="genre_li">生きる!ための勉強</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 3 and plan.done is False %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.deadline == 3 and plan.done is False %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">読みたい本</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '本' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 3 and plan.done is False %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '本' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and plan.deadline == 3 and plan.done is False %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">趣味</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 3 and plan.done is False %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and plan.deadline == 3 and plan.done is False %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                    </div>
                  </div>
                </div>

                <div class="cp_actab">
                <input id="tab-five" type="checkbox" name="tabs">
                <label class="thismonth" for="tab-five">今月({{thismonth}}月)</label>
                  <div class="cp_actab-content">
                    <div class="list">
                        <li class="genre_li">生きる!ための勉強</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 1 and plan.done is False and not 'ToDo:' in plan.tag1　%}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '勉強' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.deadline == 1 and plan.done is False and not 'ToDo:' in plan.tag1 %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">読みたい本</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '本' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 1 and plan.done is False and not 'ToDo:' in plan.tag1 %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '本' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.deadline == 1 and plan.done is False and not 'ToDo:' in plan.tag1 %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                        <li class="genre_li">趣味</li>
                          <div class="li_goal">
                            目標：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and plan.genre2 == '目標' and plan.deadline == 1 and plan.done is False and not 'ToDo:' in plan.tag1 %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="li_todo">
                            やること：
                              {% for plan in data_undone_goal %}
                              {% if '趣味' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and plan.deadline == 1 and plan.done is False and not 'ToDo:' in plan.tag1 %}
                                <ul>
                                  <li>
                                    <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                    <a href={% url 'wannado_edit' plan.id%}><i class="far fa-edit"></i></a>
                                    {{plan.plandate|date:"n/j"}}:{{plan.plan | linebreaksbr}}
                                  </li>
                                </ul>
                              {% endif %}
                              {% endfor %}
                          </div>
                    </div>
                  </div>
                </div>

            </div>


<!-- 追加・更新・削除画面 ----------------------------------------------------------------------------------------------------------------------------------------->
            <div class="formtable">
                <!-- 追加・更新画面 --------------------------------------------------------------------------------------------->
                {% if delete_flag == 0 %}
                    {% if id == 0 %}
                        <div class="iventName_add">やりたいこと追加</div>
                        <form action="{% url 'wannado' %}" method="post">
                    {% elif id > 0 %}
                        <div class="return_button_update_div"><a href={% url 'wannado' %}><button class="return_button_update" type="button"><i class="fas fa-arrow-circle-left"></i> 追加画面へ戻る</button></a></div>
                        <div class="iventName_button"><i class="fab fa-github"></i>更新</div>
                        <form action="{% url 'wannado_edit' id %}" method="post">
                    {% endif %}
                            <!-- 完了確認欄 -->
                            <table class="add-table_done">
                                <tr>
                                    <th>完了/完了日</th>
                                    <td>{{form.done}} {{form.completiondate}}</td>
                                </tr>
                                <tr>
                                    <th>評価</th>
                                    <td>{{form.review}}</td>
                                </tr>
                            </table>
                            <div class="tr_input_div">
                                <input class="tr_input" type="submit" value={% if id == 0 %}"追加！"{% else %}"更新！"{% endif %}>
                            </div>
                            <!-- 追加・更新欄 -->
                            <table class="add-table">
                                <tr>
                                  <th class="th_motivation"><i class="fas fa-child"></i><span class="must_motivation">必須</span></th>
                                  <td>{{form_motivation.motivation}}</td>
                                </tr>
                                <tr>
                                    <th class="th_genre1">分野/項目<span class="must_genre1">必須</span></th>
                                    <td>{{form_genre1.genre1}} {{form_genre2.genre2}}</td>
                                </tr>
                                <tr>
                                    <th>期限/予定日</th>
                                    <td>{{form_deadline.deadline}} {{form.plandate}}</td>
                                </tr>
                                <tr>
                                    <th class="th_plan">やりたいこと<span class="must_plan">必須</span></th>
                                    <td>{{form.plan}}</td>
                                </tr>
                                <tr>
                                    <th>メモ</th>
                                    <td>{{form.tag1}}</td>
                                </tr>
                                <tr>
                                    <th>URL</th>
                                    <td>{{form.urllink}}</td>
                                </tr>
                            </table>
                            <div class="tr_input_div">
                                <input class="tr_input" type="submit" value={% if id == 0 %}"追加！"{% else %}"更新！"{% endif %}>
                            </div>
                                {% csrf_token %}
                        </form>

                <!-- 削除画面(データ表示) -->
                {% elif delete_flag == 1 %}
                    <div class="return_button_delete_div"><a href={% url 'wannado' %}><button class="return_button_delete" type="button"><i class="fas fa-arrow-circle-left"></i> 消さない</button></a></div>
                    <div class="iventName_button"><i class="fab fa-github"></i>消す？？</div>
                    <form action={% url 'wannado_delete' id%} method="post">

                    <!-- 完了確認欄 -->
                    <table class="delete-table">
                        <tr>
                            <th>完了</th>
                            <td>
                                {% if obj.done %}
                                    完了
                                {% else %}
                                    未完了
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>評価</th>
                            <td>
                                {% if obj.review is None %}
                                    -
                                {% else %}
                                    {{obj.review}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>完了日</th>
                            <td>
                                {% if obj.completiondate is None %}
                                    -
                                {% else %}
                                    {{obj.completiondate|date:"Y/n/j"}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="fas fa-child"></i></th>
                            <td>
                                {% if obj.motivation is None %}
                                    -
                                {% else %}
                                    {{obj.motivation}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>分野</th>
                            <td>{{obj.genre1}}</td>
                        </tr>
                        <tr>
                            <th>項目</th>
                            <td>{{obj.genre2}}</td>
                        </tr>
                        <tr>
                            <th>やりたいこと</th>
                            <td>{{obj.plan}}</td>
                        </tr>
                        <tr>
                            <th>期限</th>
                            <td>
                                {% if obj.deadline == 0 %}
                                    コロナ後
                                {% elif obj.deadline == 1 %}
                                    今月
                                {% elif obj.deadline == 2 %}
                                    5~6月
                                {% elif obj.deadline == 3 %}
                                    7~9月
                                {% elif obj.deadline == 4 %}
                                    10~12月
                                {% elif obj.deadline == 5 %}
                                    今年
                                {% elif obj.deadline == 6 %}
                                    3年以内
                                {% elif obj.deadline == 7 %}
                                    5年以内
                                {% elif obj.deadline == 8 %}
                                    いつか
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>メモ</th>
                            <td>
                                {% if obj.tag1 == '' %}
                                    -
                                {% else %}
                                    {{obj.tag1}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>{{obj.urllink}}</td>
                        </tr>
                    </table>
                    <div class="tr_input_delete_div">
                        <input class="tr_input_delete" type="submit" value="削除">
                    </div>
                        {% csrf_token %}
                    </form>
                {% endif %}
            </div>

<!-- Request -------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="iventName"><i class="fas fa-carrot"></i>Request</div>
                <div>
                    <table class="requesttable">
                        <thead>
                            <tr>
                                <th id="delete_display_5">削除</th>
                                <th id="edit_display_5">編集</th>
                                <th id="plan_display_5">要望</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for plan in data_genre1 %}
                            {% if 'ToDo:' in plan.tag1 %}
                            <tr>
                                <td class="delete"><a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a></td>
                                <td class="edit"><a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a></td>
                                <td class="plan">
                                                  {% if plan.urllink == '' %}
                                                      {{plan.plan | linebreaksbr}}
                                                  {% else %}
                                                      <a href="{{plan.urllink}}" target="_blank">{{plan.plan | linebreaksbr}}</a>
                                                  {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>


<!-- 勉強リスト -------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="iventName"><i class="fas fa-carrot"></i>勉強</div>

                <div class="goal_study_div">
                    目標：
                    <ul class="goal_study_ul">
                      {% for plan in data_genre1 %}
                          {% if '勉強' in plan.genre1 and plan.genre2 == '目標' and plan.done is False %}
                              <li class="goal_study_li">
                                  <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                  <a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a>
                                  {{plan.plan | linebreaksbr}}
                              </li>
                          {% endif %}
                      {% endfor %}
                    </ul>
                </div>

                <!-- 初期状態で列非表示 -->
                <div class="checkbox">
                    <div class="delete_edit_check">
                        編集する？
                        <input type="checkbox" id="delete_check_1" onclick="checkbox_cell(this,'delete_display_1')">delete
                        <input type="checkbox" id="edit_check_1" onclick="checkbox_cell(this,'edit_display_1')">edit
                    </div>
                    <div class="tag1_check">
                        他項目:
                        <input type="checkbox" id="motivation_check_1" onclick="checkbox_cell(this,'motivation_display_1')">やる気
                        <input type="checkbox" id="deadline_check_1" onclick="checkbox_cell(this,'deadline_display_1')">期限
                        <input type="checkbox" id="genre2_check_1" onclick="checkbox_cell(this,'genre2_display_1')">項目
                        <input type="checkbox" id="tag1_check_1" onclick="checkbox_cell(this,'tag1_display_1')">メモ
                    </div>
                </div>
                <!-- テーブル(idは非表示にするときに呼び出される) -->
                <div class="edit-table_undone" align="center">
                    <table>
                        <thead class="edit-table_thead_undone">
                            <tr>
                                <th id="delete_display_1">削除</th>
                                <th id="edit_display_1">編集</th>
                                <th id="motivation_display_1"><i class="fas fa-child"></th>
                                <th id="deadline_display_1">期限</th>
                                <th id="genre2_display_1">項目</th>
                                <th id="plan_display_1">やりたいこと</th>
                                <th id="tag1_display_1">メモ</th>
                            </tr>
                        </thead>
                        <tbody class="edit-table_tbody_undone">
                        {% for plan in data_genre1 %}
                            {% if plan.done is False and '勉強' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' and not 'ToDo:' in plan.tag1 %}
                            <tr class=
                                    {% if plan.deadline == 0 or plan.deadline == 1 %}"thismonthrow"
                                    {% elif plan.deadline == 6 or plan.deadline == 7 or plan.deadline == 8 %}"nextyearrow"
                                    {% else %}"thisyearrow"
                                    {% endif %}>
                                <td class="delete"><a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a></td>
                                <td class="edit"><a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a></td>
                                <td class="motivation">
                                                      {% if plan.motivation is None %}
                                                          -
                                                      {% else %}
                                                          {{plan.motivation}}
                                                      {% endif %}
                                </td>
                                <td class="deadline">
                                                    {% if plan.deadline == 0 %}
                                                        コロナ後
                                                    {% elif plan.deadline == 1 %}
                                                        今月
                                                    {% elif plan.deadline == 2 %}
                                                        5~6月
                                                    {% elif plan.deadline == 3 %}
                                                        7~9月
                                                    {% elif plan.deadline == 4 %}
                                                        10~12月
                                                    {% elif plan.deadline == 5 %}
                                                        今年
                                                    {% elif plan.deadline == 6 %}
                                                        3年以内
                                                    {% elif plan.deadline == 7 %}
                                                        5年以内
                                                    {% elif plan.deadline == 8 %}
                                                        いつか
                                                    {% endif %}
                                </td>
                                <td class="genre2">{{plan.genre2}}</td>
                                <td class="plan">
                                                  {% if plan.urllink == '' %}
                                                      {{plan.plan | linebreaksbr}}
                                                  {% else %}
                                                      <a href="{{plan.urllink}}" target="_blank">{{plan.plan | linebreaksbr}}</a>
                                                  {% endif %}
                                </td>
                                <td class="tag1">
                                                  {% if plan.tag1 is None %}

                                                  {% else %}
                                                      {{plan.tag1 | linebreaksbr}}
                                                  {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                 </div>

 <!-- 読みたい本リスト -------------------------------------------------------------------------------------------------------------------------------------------------->
             <div class="iventName"><i class="fas fa-carrot"></i>読みたい本</div>

                 <div class="goal_book_div">
                     目標：
                     <ul class="goal_book_ul">
                       {% for plan in data_genre1 %}
                           {% if '本' in plan.genre1 and plan.genre2 == '目標' and plan.done is False %}
                               <li class="goal_book_li">
                                   <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                   <a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a>
                                   {{plan.plan | linebreaksbr}}
                               </li>
                           {% endif %}
                       {% endfor %}
                     </ul>
                 </div>

                 <!-- 初期状態で列非表示 -->
                 <div class="checkbox">
                     <div class="delete_edit_check">
                         編集する？
                         <input type="checkbox" id="delete_check_2" onclick="checkbox_cell(this,'delete_display_2')">delete
                         <input type="checkbox" id="edit_check_2" onclick="checkbox_cell(this,'edit_display_2')">edit
                     </div>
                     <div class="tag1_check">
                         他項目:
                         <input type="checkbox" id="motivation_check_2" onclick="checkbox_cell(this,'motivation_display_2')">やる気
                         <input type="checkbox" id="deadline_check_2" onclick="checkbox_cell(this,'deadline_display_2')">期限
                         <input type="checkbox" id="genre2_check_2" onclick="checkbox_cell(this,'genre2_display_2')">項目
                         <input type="checkbox" id="tag1_check_2" onclick="checkbox_cell(this,'tag1_display_2')">メモ
                     </div>
                 </div>
                 <!-- テーブル(idは非表示にするときに呼び出される) -->
                 <div class="edit-table_undone" align="center">
                     <table>
                         <thead class="edit-table_thead_undone">
                             <tr>
                                 <th id="delete_display_2">削除</th>
                                 <th id="edit_display_2">編集</th>
                                 <th id="motivation_display_2"><i class="fas fa-child"></th>
                                 <th id="deadline_display_2">期限</th>
                                 <th id="genre2_display_2">項目</th>
                                 <th id="plan_display_2">やりたいこと</th>
                                 <th id="tag1_display_2">メモ</th>
                             </tr>
                         </thead>
                         <tbody class="edit-table_tbody_undone">
                         {% for plan in data_genre1 %}
                             {% if plan.done is False and '本' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' %}
                             <tr class=
                                     {% if plan.deadline == 0 or plan.deadline == 1 %}"thismonthrow"
                                     {% elif plan.deadline == 6 or plan.deadline == 7 or plan.deadline == 8 %}"nextyearrow"
                                     {% else %}"thisyearrow"
                                     {% endif %}>
                                 <td class="delete"><a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a></td>
                                 <td class="edit"><a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a></td>
                                 <td class="motivation">
                                                       {% if plan.motivation is None %}
                                                           -
                                                       {% else %}
                                                           {{plan.motivation}}
                                                       {% endif %}
                                 </td>
                                 <td class="deadline">
                                                     {% if plan.deadline == 0 %}
                                                         コロナ後
                                                     {% elif plan.deadline == 1 %}
                                                         今月
                                                     {% elif plan.deadline == 2 %}
                                                         5~6月
                                                     {% elif plan.deadline == 3 %}
                                                         7~9月
                                                     {% elif plan.deadline == 4 %}
                                                         10~12月
                                                     {% elif plan.deadline == 5 %}
                                                         今年
                                                     {% elif plan.deadline == 6 %}
                                                         3年以内
                                                     {% elif plan.deadline == 7 %}
                                                         5年以内
                                                     {% elif plan.deadline == 8 %}
                                                         いつか
                                                     {% endif %}
                                 </td>
                                 <td class="genre2">{{plan.genre2}}</td>
                                 <td class="plan">
                                                   {% if plan.urllink == '' %}
                                                       {{plan.plan | linebreaksbr}}
                                                   {% else %}
                                                       <a href="{{plan.urllink}}" target="_blank">{{plan.plan | linebreaksbr}}</a>
                                                   {% endif %}
                                 </td>
                                 <td class="tag1">
                                                   {% if plan.tag1 is None %}

                                                   {% else %}
                                                       {{plan.tag1 | linebreaksbr}}
                                                   {% endif %}
                                 </td>
                             </tr>
                             {% endif %}
                         {% endfor %}
                         </tbody>
                     </table>
                  </div>

<!-- 趣味リスト -------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="iventName"><i class="fas fa-carrot"></i>趣味</div>

                <div class="goal_hobby_div">
                    目標：
                    <ul class="goal_hobby_ul">
                      {% for plan in data_genre1 %}
                          {% if '趣味' in plan.genre1 and plan.genre2 == '目標' and plan.done is False %}
                              <li class="goal_hobby_li">
                                  <a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a>
                                  <a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a>
                                  {{plan.plan | linebreaksbr}}
                              </li>
                          {% endif %}
                      {% endfor %}
                    </ul>
                </div>

                <!-- 初期状態で列非表示 -->
                <div class="checkbox">
                    <div class="delete_edit_check">
                        編集する？
                        <input type="checkbox" id="delete_check_3" onclick="checkbox_cell(this,'delete_display_3')">delete
                        <input type="checkbox" id="edit_check_3" onclick="checkbox_cell(this,'edit_display_3')">edit
                    </div>
                    <div class="tag1_check">
                        他項目:
                        <input type="checkbox" id="motivation_check_3" onclick="checkbox_cell(this,'motivation_display_3')">やる気
                        <input type="checkbox" id="deadline_check_3" onclick="checkbox_cell(this,'deadline_display_3')">期限
                        <input type="checkbox" id="genre2_check_3" onclick="checkbox_cell(this,'genre2_display_3')">項目
                        <input type="checkbox" id="tag1_check_3" onclick="checkbox_cell(this,'tag1_display_3')">メモ
                    </div>
                </div>
                <!-- テーブル(idは非表示にするときに呼び出される) -->
                <div class="edit-table_undone" align="center">
                    <table>
                        <thead class="edit-table_thead_undone">
                            <tr>
                                <th id="delete_display_3">削除</th>
                                <th id="edit_display_3">編集</th>
                                <th id="motivation_display_3"><i class="fas fa-child"></th>
                                <th id="deadline_display_3">期限</th>
                                <th id="genre2_display_3">項目</th>
                                <th id="plan_display_3">やりたいこと</th>
                                <th id="tag1_display_3">メモ</th>
                            </tr>
                        </thead>
                        <tbody class="edit-table_tbody_undone">
                        {% for plan in data_genre1 %}
                            {% if plan.done is False and '趣味' in plan.genre1 and not plan.genre2 == '目標' and not plan.genre2 == '今月目標' and not plan.genre2 == '今月目標' %}
                            <tr class=
                                    {% if plan.deadline == 0 or plan.deadline == 1 %}"thismonthrow"
                                    {% elif plan.deadline == 6 or plan.deadline == 7 or plan.deadline == 8 %}"nextyearrow"
                                    {% else %}"thisyearrow"
                                    {% endif %}>
                                <td class="delete"><a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a></td>
                                <td class="edit"><a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a></td>
                                <td class="motivation">
                                                      {% if plan.motivation is None %}
                                                          -
                                                      {% else %}
                                                          {{plan.motivation}}
                                                      {% endif %}
                                </td>
                                <td class="deadline">
                                                    {% if plan.deadline == 0 %}
                                                        コロナ後
                                                    {% elif plan.deadline == 1 %}
                                                        今月
                                                    {% elif plan.deadline == 2 %}
                                                        5~6月
                                                    {% elif plan.deadline == 3 %}
                                                        7~9月
                                                    {% elif plan.deadline == 4 %}
                                                        10~12月
                                                    {% elif plan.deadline == 5 %}
                                                        今年
                                                    {% elif plan.deadline == 6 %}
                                                        3年以内
                                                    {% elif plan.deadline == 7 %}
                                                        5年以内
                                                    {% elif plan.deadline == 8 %}
                                                        いつか
                                                    {% endif %}
                                </td>
                                <td class="genre2">{{plan.genre2}}</td>
                                <td class="plan">
                                                {% if plan.urllink == '' %}
                                                    {{plan.plan | linebreaksbr}}
                                                {% else %}
                                                    <a href="{{plan.urllink}}" target="_blank">{{plan.plan | linebreaksbr}}</a>
                                                {% endif %}
                                </td>
                                <td class="tag1">
                                                  {% if plan.tag1 is None %}

                                                  {% else %}
                                                      {{plan.tag1 | linebreaksbr}}
                                                  {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                 </div>

<!-- 完了リスト -------------------------------------------------------------------------------------------------------------------------------------------------->
           <div class="iventName">【完了リスト】</div>

                 <div class="checkbox">
                     <div class="delete_edit_check">
                         編集する？
                         <input type="checkbox" id="delete_check_4" onclick="checkbox_cell(this,'delete_display_4')">delete
                         <input type="checkbox" id="edit_check_4" onclick="checkbox_cell(this,'edit_display_4')">edit
                     </div>
                     <div class="tag1_check">
                         他項目:
                         <input type="checkbox" id="motivation_check_4" onclick="checkbox_cell(this,'motivation_display_4')">やる気
                         <input type="checkbox" id="deadline_check_4" onclick="checkbox_cell(this,'deadline_display_4')">期限
                         <input type="checkbox" id="genre2_check_4" onclick="checkbox_cell(this,'genre2_display_4')">項目
                         <input type="checkbox" id="tag1_check_4" onclick="checkbox_cell(this,'tag1_display_4')">メモ
                     </div>
                 </div>
                 <!-- テーブル(idは非表示にするときに呼び出される) -->
                 <div class="edit-table_done" align="center">
                     <table>
                         <thead class="edit-table_thead_done">
                             <tr>
                                 <th id="delete_display_4">削除</th>
                                 <th id="edit_display_4">編集</th>
                                 <th id="plandate_display_4">予定日</th>
                                 <th id="completiondate_display_4">完了日</th>
                                 <th id="genre1_display_4">分野</th>
                                 <th id="genre2_display_4">項目</th>
                                 <th id="plan_display_4">やりたいこと</th>
                                 <th id="tag1_display_4">メモ</th>
                             </tr>
                         </thead>
                         <tbody class="edit-table_tbody_done">
                         {% for plan in data_done %}
                             {% if plan.done or plan.genre2 == '今月目標' %}
                             <tr class={% if plan.genre2 == '今月目標' %}"goaldonerow"{% endif %}>
                                 <td class="delete"><a href={% url 'wannado_delete' plan.id%}><i class="far fa-trash-alt"></i></a></td>
                                 <td class="edit"><a href={% url 'wannado_edit' plan.id %}><i class="far fa-edit"></i></a></td>
                                 <td class="plandate">{{plan.plandate|date:"n/j"}}</td>
                                 <td class="completiondate">{{plan.completiondate|date:"n/j"}}</td>
                                 <td class="genre1">{{plan.genre1}}</td>
                                 <td class="genre2">{{plan.genre2}}</td>
                                 <td class="plan">
                                                   {% if plan.urllink == '' %}
                                                       {{plan.plan | linebreaksbr}}
                                                   {% else %}
                                                       <a href="{{plan.urllink}}" target="_blank">{{plan.plan | linebreaksbr}}</a>
                                                   {% endif %}
                                 </td>
                                 <td class="tag1">
                                                   {% if plan.tag1 is None %}

                                                   {% else %}
                                                       {{plan.tag1 | linebreaksbr}}
                                                   {% endif %}
                                 </td>
                             </tr>
                             {% endif %}
                         {% endfor %}
                         </tbody>
                     </table>
                  </div>

<!-- ハンバーガーメニュー ----------------------------------------------------------------------------------------------------------------------------------------->
            <div id="navArea">
              <nav>
                <div class="inner">
                  <div class="page">ページ</div>
                  <ul>
                    <li><a href={% url 'wannado' %}>やりたいことリスト</a></li>
                    <li><a href={% url 'progress_summary' %}>成長</a></li>
                  </ul>
                </div>
              </nav>
              <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div id="mask"></div>
            </div>

        </div>
    </div>
</div>
</body>
