body{
    color: #7172ac;
    background-color: #FFC0CB;
    font-size: 30pt;
    padding-top: 150px;
}

.headerImg{
    background-color: #FFC0CB;
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.titleImg{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
}

h1{
    color: #9057FF;
    background: #DCC2FF;
    box-shadow: 0px 0px 0px 5px #DCC2FF;
    border: dashed 1px #96c2fe;
    
    font-size: 40pt;
    font-family: monospace;
    text-align: left;
    padding: 0.2em 0.5em;
}

.iventName:first-letter{
    color: #7172ac;
    font-size: 50pt;
    line-height:52px;
    margin: 0em;
    padding-bottom: 0em;
}

table{
    width: 100%;
    height: 200px;
}

video{
    width: 230px;
    height: 200px;
}

a{
    color: #FFFF77;
    font-size: 30pt;
    font-family: Comic Sans MS;
}